@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h1>License an Engineer</h1>
<hr />

<h4>New Engineer For:</h4>
<p>@Html.DisplayFor(model => model.MachineName)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <div class="form-group">
    @Html.Label("Select Engineer:")
    @Html.DropDownList("EngineerId")
  </div>

  <div class="form-group">
  <input type="submit" value="Save" class="btn btn-default" />
  </div>
}

<h3>@Html.ActionLink("Back to machine details", "Details", new { id = Model.MachineId })</h3>