@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h1>Add a New Machine to Licensed Engineer</h1>

<h4>New Engineer for : @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer:")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" class="btn btn-default" />
}

<h3>@Html.ActionLink("Back to machine details", "Details", new { id = Model.MachineId })</h3>