@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Add a New Machine</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input type ="submit" value="Add new machine" class="btn btn-default" />
}

<h3>@Html.ActionLink("Show all machines", "Index")</h3>