@{
  Layout ="_Layout";
}

@model Factory.Models.Machine

<h1>Machine Details</h1>
<hr />
<h4>Name: @Html.DisplayFor(model => model.MachineName)</h4>
<h4>Description: @Html.DisplayFor(model => model.Description)</h4>

@if(Model.Engineers.Count == 0)
{
  <p>This machine does not have any registered engineers to repair it.</p>
}
else
{
  <h4>Licensed Engineers</h4>
  <ul>
    @foreach(var join in Model.Engineers)
    {
      if (join.Machine != null)
      {
        <li>@join.Engineer.LastName, @join.Engineer.FirstName </li>
        @using (Html.BeginForm("DeleteJoin", "Machines", new { id = Model.MachineId }))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Remove" class="btn btn-default" />
        }
      }
    }
  </ul>
}

<h3>@Html.ActionLink("Add a new engineer", "AddEngineer", new { id = Model.MachineId })</h3>
<h3>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</h3>
<h3>@Html.ActionLink("Back to machine directory", "Index")</h3>