@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Edit Machine Details For:</h1>
<h2>@Html.DisplayFor(model => model.MachineName)</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <div class="form-group">
    @Html.LabelFor(model => model.MachineName)
    @Html.EditorFor(model => model.MachineName)
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
  </div>

  <div class="form-group">
    @Html.Label("New Engineer License")
    @Html.DropDownList("EngineerId", (SelectList)ViewBag.EngineerId, "-No new engineers to add-")
  </div>

  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-default" />
  </div>
}

<h3>@Html.ActionLink("Back to machine details", "Details", new { id = Model.MachineId })</h3>
<h3>@Html.ActionLink("Back to engineer list", "Index")</h3>