@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>Machines</h1>

@if (@Model.Count == 0)
{
  <h3>No machines have been added yet.</h3>
}

@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId })</li>
  @using (Html.BeginForm("Delete", "Machines", new { id = machine.MachineId}))
  {
    @Html.Hidden("machineId, @machine.MachineId")
    <input type="submit" value="Delete" class="btn btn-default" />
  }
}

<h3>@Html.ActionLink("Add a new machine", "Create")</h3>