@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<h1>License a New Engineer</h1>
<hr />

<h4>New Machine License For:</h4>
<p>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <div class="container">
    @Html.Label("Select Machine:")
    @Html.DropDownList("MachineId")
  </div>

  <input type="submit" value="Save" class="btn btn-default" />
}

<h3>@Html.ActionLink("Back to engineer details", "Details", new { id = Model.EngineerId })</h3>
<h3>@Html.ActionLink("Back to engineer directory", "Index")</h3>