@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Edit Details For:</h1>
<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <div class="form-group">
    @Html.LabelFor(model => model.FirstName)
    @Html.EditorFor(model => model.FirstName)
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.LastName)
    @Html.EditorFor(model => model.LastName)
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Phone)
    @Html.EditorFor(model => model.Phone)
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
  </div>

  <div class="form-group">
    @Html.Label("Add Machine License")
    @Html.DropDownList("MachineId", (SelectList)ViewBag.MachineId, "-No new machines to add-")
  </div>

  <input type="submit" value="Save" class="btn btn-default" />
}

<h3>@Html.ActionLink("Back to engineer details", "Details", new { id = Model.EngineerId })</h3>
<h3>@Html.ActionLink("Back to engineer list", "Index")</h3>